.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 43px 0;
}

.navbar__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar__item + .navbar__item {
    margin-left: 33px;
}

.navbar__link {
    display: block;
    text-decoration: none;
    font-family: 'Barlow', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.923077px;
    text-transform: uppercase;
    color: #83888F;
    transition: all 0.1s ease;
    
    &:hover {
        color: #333D4B;
    }
}
